@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'Source Sans 3';
        font-style: normal;
        font-weight: 200 900;
        font-display: swap;
        src: url('./assets/SourceSans3-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Sans 3 Italic';
        font-style: italic;
        font-weight: 200 900;
        font-display: swap;
        src: url('./assets/SourceSans3-Italic-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Source Code Pro';
        font-style: normal;
        font-weight: 200 900;
        font-display: swap;
        src: url('./assets/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    }

    :root {
        @apply antialiased;
    }

    body {
        @apply m-0;
    }

    #root {
        @apply h-screen flex flex-col justify-between;
    }

    header {

        #site_logo {

            #logo_words_name,
            #logo_words_role {
                @apply hidden;
            }
        }
    }

    main {
        @apply overflow-clip;
    }


}

@layer components {

}

@layer utilities {

}
